<div id="content">
    <h1>{{title}}</h1>
    <p><em>Published on {{date}}</em></p>
    {{{body}}}
    <div id="post-tags">
        <h3>Post Tags:</h3>
        {{#each tags}}
            <div><a href="{{link}}">{{title}}</a></div>
        {{/each}}
    </div>
</div>