<!DOCTYPE HTML>
<html lang="en">
<!--/head-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Compiling">
    <meta name="author" content="Alexander Hagerman">
    <title>UnexpectedEOF</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet">
    <link href="../assets/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="../assets/images/ico/favicon.ico">

    <meta property="og:title" content="Alexander{{#if title}} - {{title}}{{/if}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://unexpectedeof.net{{link}}" />
</head>

<body class="left-sidebar is-preload">
    <!-- Wrapper -->
    <div id="page-wrapper">

        <header id="header">
            <div class="navbar navbar-inverse" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="https://unexpectedeof.net">
                            <h1 id="breadcrumb" class="title">UnexpectedEOF</h1>
                        </a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/posts">Archive</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/shelf">Book Shelf</a></li>
                        <li><a href="/resume">Resume</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!--/#header-->

        <section id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-5">
                        <div class="sidebar blog-sidebar">
                            <div class="sidebar-item tag-cloud">
                                <h3>Tags</h3>
                                <ul class="actions">
                                    {{#each tags}}
                                        <li><a role="button" href="{{link}}" class="button">{{title}} ({{count}})</a></li>
                                    {{/each}}
                                </ul>
                                <ul class="actions">
                                    <li><a href="/tags" class="button small">View All Tags &rarr;</a></li>
                                </ul>
                            </div>
                            <div class="sidebar-item">
                                <h3>Social</h3>
                                <ul>
                                    <li><a href="https://hackaday.io/n0mn0m"><i class="fa fa-wrench"></i><span class="social-text">Hackaday</span></a></li>
                                    <li><a href="https://git.unexpectedeof.net/n0mn0m"><i class="fa fa-git"></i><span class="social-text">Gitea</span></a></li>
                                    <li><a href="https://keybase.io/alexanderh"><i class="fa fa-key"></i><span class="social-text">Keybase</span></a></li>
                                    <li><a href="https://stackoverflow.com/users/story/1480185"><i class="fa fa-stack-overflow"></i><span class="social-text">StackOverflow</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-7">
                        {{{ body }}}
                    </div>
                </div>
            </div>
        </section>
        <!--/#blog-->

        <section id="separator">
            <span></span>
        </section>
        <!--/#separator-->

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-14 col-sm-24">
                        <div class="contact-info text-center bottom">
                            <h2>Contact</h2>
                            <address>
                                <a href="mailto:alexander@unexpectedeof.net">alexander@unexpectedeof.net</a> <br>
                            </address>

                            <h2>Fingerprint</h2>
                            <address>
                                B1083930718E18786F0E87BC40D6536489E184AB
                            </address>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="copyright-text text-center">
                            <p>&copy; Alexander "n0mn0m" Hagerman</p>
                            <p>Writing Creative Commons CC0 1.0. Code LGPL.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--/#footer-->
    </div>
</body>

</html>